{% extends "Master/master.html" %}
{% load static %}


{% block title %}
Preskool | Subject List
{% endblock title %}


{% block content %}
<div class="content container-fluid">
    <div class="page-header">
       <div class="row align-items-center">
          <div class="col">
             <h3 class="page-title">Subjects</h3>
             <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                <li class="breadcrumb-item active">Subjects</li>
             </ul>
          </div>
       </div>
    </div>
    <div class="student-group-form">
       <div class="row">
          <div class="col-lg-3 col-md-6">
             <div class="form-group">
                <input type="text" class="form-control" placeholder="Search by ID ...">
             </div>
          </div>
          <div class="col-lg-3 col-md-6">
             <div class="form-group">
                <input type="text" class="form-control" placeholder="Search by Name ...">
             </div>
          </div>
          <div class="col-lg-4 col-md-6">
             <div class="form-group">
                <input type="text" class="form-control" placeholder="Search by Class ...">
             </div>
          </div>
          <div class="col-lg-2">
             <div class="search-student-btn">
                <button type="btn" class="btn btn-primary">Search</button>
             </div>
          </div>
       </div>
    </div>
    <div class="row">
       <div class="col-sm-12">
          <div class="card card-table">
             <div class="card-body">
                <div class="page-header">
                   <div class="row align-items-center">
                      <div class="col">
                         <h3 class="page-title">Subjects</h3>
                      </div>
                      <div class="col-auto text-end float-end ms-auto download-grp">
                         <a href="#" class="btn btn-outline-primary me-2"><i class="fas fa-download"></i> Download</a>
                         <a href="add-subject.html" class="btn btn-primary"><i class="fas fa-plus"></i></a>
                      </div>
                   </div>
                </div>
                <div class="table-responsive">
                   <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                      <div class="row">
                         <div class="col-sm-12 col-md-6">
                            <div class="dataTables_length" id="DataTables_Table_0_length">
                               <label>
                                  Show 
                                  <select name="DataTables_Table_0_length" aria-controls="DataTables_Table_0" class="custom-select custom-select-sm form-control form-control-sm">
                                     <option value="10">10</option>
                                     <option value="25">25</option>
                                     <option value="50">50</option>
                                     <option value="100">100</option>
                                  </select>
                                  entries
                               </label>
                            </div>
                         </div>
                         <div class="col-sm-12 col-md-6"></div>
                      </div>
                      <div class="row">
                         <div class="col-sm-12">
                            <table class="table border-0 star-student table-hover table-center mb-0 datatable table-striped dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info">
                               <thead class="student-thread">
                                  <tr role="row">
                                     <th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 109.15px;" aria-sort="ascending" aria-label="
                                        : activate to sort column descending">
                                        <div class="form-check check-tables">
                                           <input class="form-check-input" type="checkbox" value="something">
                                        </div>
                                     </th>
                                     <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 143.55px;" aria-label="ID: activate to sort column ascending">ID</th>
                                     <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 186.2px;" aria-label="Name: activate to sort column ascending">Name</th>
                                     <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 130.75px;" aria-label="Class: activate to sort column ascending">Class</th>
                                     <th class="text-end sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 194.35px;" aria-label="Action: activate to sort column ascending">Action</th>
                                  </tr>
                               </thead>
                               <tbody>
                                  <tr role="row" class="odd">
                                     <td class="sorting_1">
                                        <div class="form-check check-tables">
                                           <input class="form-check-input" type="checkbox" value="something">
                                        </div>
                                     </td>
                                     <td>PRE2209</td>
                                     <td>
                                        <h2>
                                           <a>Mathematics</a>
                                        </h2>
                                     </td>
                                     <td>5</td>
                                     <td class="text-end">
                                        <div class="actions">
                                           <a href="javascript:;" class="btn btn-sm bg-success-light me-2">
                                           <i class="feather-eye"></i>
                                           </a>
                                           <a href="edit-subject.html" class="btn btn-sm bg-danger-light">
                                           <i class="feather-edit"></i>
                                           </a>
                                        </div>
                                     </td>
                                  </tr>
                                  
                               </tbody>
                            </table>
                         </div>
                      </div>
                      <div class="row">
                         <div class="col-sm-12 col-md-5">
                            <div class="dataTables_info" id="DataTables_Table_0_info" role="status" aria-live="polite">Showing 1 to 6 of 6 entries</div>
                         </div>
                         <div class="col-sm-12 col-md-7">
                            <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate">
                               <ul class="pagination">
                                  <li class="paginate_button page-item previous disabled" id="DataTables_Table_0_previous"><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="0" tabindex="0" class="page-link">Previous</a></li>
                                  <li class="paginate_button page-item active"><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="1" tabindex="0" class="page-link">1</a></li>
                                  <li class="paginate_button page-item next disabled" id="DataTables_Table_0_next"><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="2" tabindex="0" class="page-link">Next</a></li>
                               </ul>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>
{% endblock content %}