
{% if messages %}
    {% for message in messages %}

        {% if message.tags == "warning" %}
           <h3>{{message}}</h3>

           {% elif message.tags == "success" %}
           <h3>{{message}}</h3>

           {% elif message.tags == "error" %}
           <h3>{{message}}</h3>

        {% endif %}
    {% endfor %}
{% endif %}
  



                        {% comment %} {% for message in messages %}
                           <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                 <span aria-hidden="true">&times;</span>
                              </button>
                              {{ message }}
                           </div>
                        {% endfor %} {% endcomment %}


                     {% comment %} 
                        {% if messages %}
                              {% for message in messages %}
                                 {% if message.tags %}  <script>alert("{{ message }}")</script> {% endif %}
                              {% endfor %}                   
                           {% endif %} {% endcomment %}
